  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
              <li ><a href="/">Girişimci Okulu</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Kullanıcı Ayarları</h1>
        </div>
      </div>
    </div>
  </section>
<div id="users_settings" class="panel">
  <div class="panel-body">
    <div id="search_actions"></div>
    <div id="users_list" class="table-scrollable">
      <%= render 'devise/list', users: @users %>
    </div>
  </div>
</div> 